@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');



header {
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  margin-right: 10px;
}

.header-text {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  font-weight: bold;

}







