@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.topBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
}

.EntryStyle {
  justify-content: flex-start;
  background-color: rgb(231, 233, 236);
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #a1a1a1;
  margin: 0 auto;
}

form {
  padding-left: 25%;
  padding-top: 10%;
}

label {
  display: inline-block;
  width: 120px;
}

input {
  padding: 5px 10px;
}

/* ******************* Top container 2 ->>>>>*/
.topBox2 {
  background-color: rgb(231, 233, 236);
  width: 700px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #a1a1a1;
  table-layout: fixed;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
}

.topBox2 input {
  width: 50px;
  height: 6px;
}

.topBox2 tr:nth-child(even) {background-color: #f2f2f2;;}
.topBox2 tr:hover {background-color: #ddd;}

.topBox2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  border-radius: 3px;
}

.topBox2 h1 {
  padding-top: 100px;
}

/****************entires table css*/
.itemsTable{
  flex: 1;
}
.itemsTable table {
  padding-top: 50px;
  padding-left: 20px;
  width: 100.4%;
}
.topBox2 table {
  text-align: center;
}

.itemsTable td {
  padding-top: 9px;
  padding-bottom: 9px;
}
/*Table 1 column widths*/
.itemsTable th:first-child,
.itemsTable td:first-child {
  width: 40%;
}
.itemsTable th:nth-child(2),
.itemsTable td:nth-child(2) {
  width: 20%;
}
.itemsTable th:nth-child(3),
.itemsTable td:nth-child(3) {
  width: 20%;
}

/********************sold price table styling*/
.soldItemsTable{
  padding-top: 50px;
  margin-right: 20px;
}

.soldItemsTable td {
  height: 35px;
}

.soldItemsTable td label{
  padding-top: 8px;
  padding-bottom: 8px;
}

.soldItemsTable td input{
  padding-top: 12.8px;
  padding-bottom: 12.8px;
}
.topBox2 th {
  width: 185px;
}
