/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
    z-index: 999; /* ensure it appears above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal {
    position: relative; /* Set position to relative */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 50%; /* adjust width as needed */
    min-height: 20%;
    max-height: 80%; /* adjust height as needed */
    overflow-y: auto; /* enable scrolling if content overflows */
   
  
    justify-content: space-between;

}


.new-components {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    top: 60px;
    right: 10px;
    box-sizing: border-box; 
}
.component-inputs {
    margin-bottom: 10px;
}
/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.componentDropdown {
    margin-left: auto;
    display: flex;
}

.button-container {

    position: absolute;
    top:40px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}
/* 
/* Style for buttons */
.button-container button {
    margin-left: 10px; /* Add some space between buttons */
} 
